local.sbt
target/
result
.direnv/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
local/

modules/server/lib
/modules/webview/keeper-webview-client.jar
/modules/core/src/test/resources/fit/*.fit