name: CI
on:
  pull_request:
    branches:
      - main
jobs:
  ci-matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 100
      - uses: cachix/install-nix-action@v31
      - name: sbt ci ${{ github.ref }}
        run: nix develop .#ci --command sbt ci
  ci:
    runs-on: ubuntu-24.04
    needs: [ci-matrix]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"
